.repos-container {
  width: 900px;
  margin: 0 auto;
}

.buttons-list {
  display: flex;
  justify-content: center;
}

.repos-table {
  border-spacing: 0;
}

tr.selected {
  background-color: var(--silverorangeLighter);
}
